body {
    font-family: Raleway, sans-serif;
}

header {
    background-color: rgb(36, 36, 36);
    display: flex;
    align-items: center;
    justify-content: space-between;
}   

h1 {
    color: white;
    position: relative;
    left: 10px;
}

.buttons {
    display: flex;
    flex-direction: row;
    width: 100px;
    justify-content: space-between;
    row-gap: 10px;
    right: 30px;
    position: relative;
}

button {
    font-family: Raleway, sans-serif;
    background-color: rgb(36, 36, 36);
    color: white;
    position: relative;
    width:88px;
    height: 40px;
    border-radius: 5px;
}

#home {
    background-color: rgb(36, 36, 36);
    border-color: rgb(36, 36, 36);
}

#local {
    background-color: rgb(255, 46, 46);
    border-color: rgb(255, 46, 46);
}

#business {
    background-color: rgb(26, 60, 164);
    border-color: rgb(26, 60, 164);
}

#sports {
    background-color: rgb(24, 157, 44);
    border-color: rgb(24, 157, 44);
}

#tech {
    background-color: rgb(202, 120, 19);
    border-color: rgb(202, 120, 19);
}

#newsQuery {
    position: relative;
    right: 10px;
}

#search {
    background-color: rgb(202, 190, 19);
    border-color: rgb(202, 190, 19);
    right: 10px;
}

footer {
    background-color: rgb(36, 36, 36);
    color: white;
    display: flex;
    margin-right: auto;
    flex-direction: row;
    height: 20px;
}

.social-icons {
    margin-left: auto;
    display: flex;
    justify-content: space-around;
    margin-right: 10px;
    width: 50px;
}

@media only screen and (max-width: 930px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h1 {
        left: 0;
        bottom: 5px;
    }

    .buttons {
        flex-direction: column;
        right: 0;
        bottom: 15px;
    }

    form {
        bottom: 5px;
        position: relative;
    }
}